* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: #effafa;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.search {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 20px -5px #0d718226;
  position: relative;
  top: -80px;
}
.search span {
  cursor: pointer;
  color: #5ca5a5;
  font-size: 16px;
}
.search input {
  width: 70%;
  border: none;
  font-size: 20px;
}
.search input:focus {
  outline: none;
}
.logo a img {
  width: 88px;
  height: 88px;
}
header {
  width: 100%;
  height: 156px;
  background-color: #5ca5a5;
  background-image: url(../images/header-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.job {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 24px;
  box-shadow: 0px 15px 20px -5px #0d718226;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
}
.job-info {
  display: flex;
  gap: 24px;
  align-items: center;
}
.head-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 14px;
}
h3 {
  font-family: "League Spartan" sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5ca5a5;
}
.new {
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.10769230872392654px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #5ca5a5;
  color: #fff;
  padding: 7px 8px 3px 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.new:hover {
  background-color: #6cc2c2;
  color: black;
}
.feat {
  background-color: #2b3939;
}
h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #2b3939;
  padding-bottom: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
h2:hover {
  color: #5ca5a5;
}
.foot-info {
  display: flex;
  align-items: center;
  gap: 18px;
}
.foot-in {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #7c8f8f;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #7c8f8f;
}
.job-skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
p {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #5ca5a5;
  background-color: rgba(92, 165, 165, 0.1);
  padding: 5px 10px 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
p:hover {
  background-color: #5ca5a5;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 87%;
  }
}
@media screen and (max-width: 992px) {
  .job {
    padding: 20px 20px;
    gap: 10px;
  }

  .job-info {
    gap: 16px;
  }
  .head-info {
    margin-bottom: 5px;
  }
  .foot-info {
    gap: 10px;
  }
  .job-skills {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .job-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  header {
    background-image: url(../images/back-phone.png);
    background-size: 100% 100%;
  }
  .job {
    position: relative;
    padding: 32px 24px 24px 24px;

    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .logo {
    top: -250px;
  }
  .logo a {
    top: -270px;
  }
  .logo a img {
    width: 48px;
    height: 48px;
    top: -25px;
  }

  .job-skills {
    border-top: 1px solid #ccc;
    padding-top: 16px;
  }
}
